<%= form_with model: @response,:url => {:question => :new}  do |f|%>
      <div class="form">
          <div class="box2">
            <span class="form-name2">解答</span>

            <div class="form-answer">
              <%= f.text_area :body, class: 'form__aon',placeholder: "解答文", size: "40x20"%>
            </div>  
          </div>
        </div>
      </div>  
<% end %> 