<div class="main">
  <h1 class="main_name"> 問題一覧　<h1>
  <div class="main__link">
    <div class="main__link__tag"><a href="/questions/new" class="main__link__tag__name">新規作成</a></div>
  </div>
  <table class="main__table">
    <thead class="main__table__thead">
      <tr>
        <th>問題</th>
        <th>解答</th>
      </tr>
    </thead>
    <tbody>
      <% @question.each do |question|%>
      <% @response.each do |response|%>
        <tr>
          <th><%= question.body %></th>
          <th><%= response.body %></th>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
