<div class="main-contents">
  <header id="create">
    <h1>問題作成</h1>
    <div class="top">
      <a href="/" class="top__btn">トップページに戻る</a>
    </div>
  </header>
  <%= form_with model: @questions,:url => {:questions => :new} do |f| %>
    <div class="submitn">
      <%= f.submit '作成', class: "submitn__btn"%>
          <%# <button type="submit" class="submitn__btn">作成</button> %>
    </div>
  <div class="form">
      <div class="box1">
        <span class="form-name1">問題</span>
        <div class="form-question">
          <%= f.text_area :body, class: 'form-control',placeholder: "問題文", size: "50x20" %>
        </div>
      </div>  
  </div>  
      <%= render partial: 'response_form', locals:{ response: @response}%>
  <% end %>
</div>

