<header id="create">
  <h1>問題作成</h1>
  <div class="top">
    <a href="/" class="top__btn">トップページに戻る</a>
  </div>
</header>
<div class="submitn">
    <button type="submit" class="submitn__btn">作成</button>
</div>

<form> 
  <div class="box1">
    <span class="form-name1">問題</span>

    <div class="form-question">
      <textarea id="body" class="form-control" name="name" rows="20" cols="40"placeholder="問題文"></textarea>
    </div>
  </div>
   <div class="box2">
    <span class="form-name2">解答</span>

    <div class="form-answer">
      <textarea id="body" class="form-aon" name="name" rows="20" cols="40"placeholder="解答文"></textarea>
    </div>
  </div>
</form>