.main-contents{
  max-width: 100%;
  #create{
    background-color: black;
    width: 100%;
    h1{
      color: #fff;
      font-size: 30px;
      text-align: center;
      font-weight: bold;
    }
    .top{
      text-align: right;
      &__btn{
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
      }
      :hover{
        opacity: 0.8;
        cursor: pointer;
      }
    }
    
  
  }
  .submitn{
    text-align: center;
    background: linear-gradient(darkgray, lightgray);
    height: 40px;
    width: 100%;
    &__btn{
      font-size: 1.4em;
      font-weight: bold;
      color: black;
      border-style: none;
      box-shadow: 2px 2px 3px 1px #666;
      border-radius: 5px;
      margin-top: 2px;
      width: 100px;
    }
    :hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
  .alert{
    background:#FFEBE8;
    text-align: center;
    border:2px solid #990000;
    padding:12px; font-weight:850;
  }
  .message{
    background-color: lightBlue;
    text-align: center;
    color: #fff;
    padding:12px; font-weight:850;
  }
  .form{
    text-align: center;
    .box1{
      margin-top: 50px;
    }
    .box2{
      margin-top: 50px;
    }
    .form-name1{
      font-weight: bold;
      font-size: 30px;
    }
    .form-name2{
      font-weight: bold;
      font-size: 30px;
    }
    textarea{
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  
  }
  
  
}

