<header id="home">
  <h1 id="study">Study App</h1>
    <nav>
      <ul class="tag">
        <li class="tag__list"><%= link_to "作成",new_qa_path %></li>
        <li class="tag__list"><%= link_to "今日のタスク",qas_index_path%></li>
        <li class="tag__list"><%= link_to "ログイン", :items%>
          <ul>
            <li></li>
          </ul>
        <li>  
      </ul>
    </nav>
</header>