<header id="home">
  <h1 id="study">Study App</h1>
    <nav>
      <ul class="tag">
        <li class="tag__list"><a href="/questions/new">作成</a></li>
        <li class="tag__list"><a href="#">復習</a></li>
        <li class="tag__list"><a href="#">ログイン</a></li>
      </ul>
    </nav>
</header>