<div class="content">
  <div class="content__main">
    <div class="content__title">
      <section>
          <h2 id="title1">
            1.分散学習方法！
          </h2>
          <p id="word">
            分散学習とは
            <br>
            科学的に推奨された学習方法であり
            <br>
            適切な時間間隔を開けて学習をすることです  
          </p>
      </section>
      <section>
        <h2 id="title2">
        2.想起学習方法！
        </h2>
        <p id="word2">最近の研究によると
          <br>
          思い出す作業を繰り返すことで
          <br>
          記憶の定着につながることが確認されています
        </p>
      </section>
      <section>
        <h2 id="title3">
          3.このアプリの使い方！
        </h2>
        <p id="word3">1.覚えたい内容の問題をテキスト欄に記入</p>
        <p id="word4">2.覚えたい内容の解答をテキスト欄に記入</p>
        <p id="word5">3.定期的に内容を復習</p>
      </section>
    </div>
    <div class="content__image">
      <%= image_tag asset_path('/answer.png'),class:'img' %>
    </div>  
  </div>  
</div> 

