<header id="home">
  <h1>Study App</h1>
    <nav>
      <ul class="tag">
        <li class="tag_list"><a href="#">作成</a></li>
        <li><a href="#">復習</a></li>
        <li><a href="#">ログイン</a></li>
      </ul>
    </nav>
</header>

<div class="content">
  <div class="content__main">
    <div class="content__title">
      <section>
        <h2 id="title1">
          超効果的！
          <br>
          分散学習方法！
        </h2>
        <p id="word">分散学習とは</p>
        <p>科学的に推奨された学習方法であり
            <br>
          適切な時間間隔を開けて学習をすることです  
        </p>
      </section>
      <section>
        <h2 id="title2">
        想起学習方法
        </h2>
        <p id="word2">最近の研究によると
          <br>
          思い出す作業を繰り返すことで
          <br>
          記憶の定着につながることが確認されています
        </p>
      </section>
      <section>
        <h2 id="title3">
          このアプリの使い方！
        </h2>
        <p id="word3">1.覚えたい内容の問題をテキスト欄に記入</p>
        <p>2.覚えたい内容の解答をテキスト欄に記入</p>
        <p>3.定期的に内容を復習</p>
      </section>
    </div>
    <div class="content__image">
      <img src="https://via.placeholder.com/428x326" alt="study App">
    </div>  
  </div>  
</div> 

<footer>
<ul>
  <li><a href="#home">ホーム</a></li>
  <li><a href="#title1">おすすめ学習方法</a></li>
  <li><a href="#title3">アプリ使用方法</a></li>
</ul>  
  <small> &copy; 2020 Study App</small>
</footer>
