<div class="main">
  <h1 class="main__name">  復  習　</h1>
  <div class="main__link">
    <div class="main__link__tag">
      <ul>
        <li>
          <a href="/qas/new" class="main__link__tag__name">新規作成</a>
          <a href="/" class="main__link__tag__name">ホーム画面</a>
        <li>
      </ul>
    </div>
  </div>
  <div class="main__head">
    <div class="main__head__question">
      問題
    </div>
    <div class="main__head__questions">
      <p>1+1=?</p>
    </div>
  </div>
  <div class="main__bootom">
    <div class="main__bootom__botun">
      <div id="main__bootom__botun__click"><p id="text">答えを見る</p></div>
    </div>
  </div>
</div>
