<div class="main">
  <h1 class="main_name"> 問題一覧　<h1>
  <div class="main__link">
    <div class="main__link__tag"><a href="/qas/new" class="main__link__tag__name">新規作成</a></div>
  </div>
  <table class="main__table">
    <thead class="main__table__thead">
      <tr>
        <th>問題番号</th>
        <th>問題</th>
        <th>解答</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @qa.each do |qa|%>
        <tr>
          <th><%= qa.id %></th>
          <th><%= qa.body %></th>
          <th><%= qa.content %></th>
          <th><%= link_to '削除',qas_destroy_path(qa.id),  method: :delete %></th>
        </tr> 
      <% end %>
    </tbody> 
  </table>
</div>
