<div class="main-contents">
  <header id="create">
    <h1>問題作成</h1>
    <div class="top">
      <a href="/" class="top__btn">トップページに戻る</a>
    </div>
  </header>
    <%= render partial: 'response_form', locals:{ qa: @qa} %>
 
</div>
